<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCalendarAjaxExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'http://code.jquery.com/jquery-3.2.1.slim.min.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
